.App {
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-top: 15px;
}
.strike {
  text-decoration: line-through;
}
.item:hover {
  cursor: pointer;
}

.signature {
  font-weight: 400;
  margin-top: 75px;
}
.link {
  color: blueviolet;
  text-decoration: none;
}
